@model IEnumerable<BookStore.Models.Employee>
@{
    ViewData["Title"] = "Employees";
}
<!-- Add pagination and search by atributes -->
<div class="text-center">
    <h1 class="display-4 mb-4">Employees</h1>
    <form class="text-left">
        <div class="form-row">
            <div class="form-group col-md-11">
                <label>Search</label>
                <input type="email" class="form-control" placeholder="Search by key word">
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-primary w-100" style=" margin-top: 32px; height: 37px">Search</button>
            </div>
        </div>
    </form>
    <div class="mb-2">
        <table class="table table-bordered table-hover bg-white mb-0">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">First Day</th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.FullName</td>
                        <td>@employee.Position</td>
                        <td>@employee.Phone</td>
                        <td>@employee.Birthday.ToString("dd/MM/yyyy")</td>
                        <td>@employee.FirstDay.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row mb-5">
        <div class="col-sm d-flex justify-content-start">
            <select class="custom-select custom-select-sm mb-0" style="width: 60px">
                <option selected>10</option>
                <option value="1">15</option>
            </select>
        </div>
        <div class="col-sm">
            <p class="text-muted text-nowrap mb-0 mr-4">Page 1 of 20</p>
        </div>
        <div class="col-sm d-flex justify-content-end">
            <a href="#" class="text-secondary mr-3"><</a>
            <a href="#" class="text-secondary mr-3">1</a>
            <a href="#" class="text-secondary mr-3">2</a>
            <a href="#" class="text-secondary mr-3">3</a>
            <a href="#" class="text-secondary mr-3">4</a>
            <a href="#" class="text-secondary mr-3">...</a>
            <a href="#" class="text-secondary mr-3">></a>
        </div>
    </div>

    <a type="button" class="btn btn-primary mb-2" style="width:130px" asp-controller="Employees" asp-action="Create">Create</a>
</div>

@section Scripts
{
    <script>
        $("tr").click(function () {
            var id = $('td:first', this).text();
            window.location.href = '/Employees/' + id;
        });

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}