@model BookStore.Services.DTOs.PaginatedListDTO<BookStore.Models.Order>
@{
    ViewData["Title"] = "Orders";
    var paymentType = ViewBag.PaymentType;
    var state = ViewBag.State;
}
<div class="text-center">
    <!--Head-->
    <h1 class="display-4 mb-4">
        Orders
        <!--Create-->
        <a asp-controller="Orders" asp-action="Create"><i class="bi bi-cart-plus"></i></a>
    </h1>
    <!--Search-->
    <form class="text-left">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Search</label>
                <input id="search-input" type="text" class="form-control" placeholder="Search by key word" value="@ViewBag.KeyWord">
            </div>
            <div class="form-group col-md-2">
                <label>Payment type</label>
                <select id="payment-type-input" class="custom-select" asp-for="@paymentType" asp-items="Html.GetEnumSelectList<BookStore.Models.PaymentType>()">
                    <option selected="selected" value="">Select ...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>State</label>
                <select id="state-input" class="custom-select" asp-for="@state" asp-items="Html.GetEnumSelectList<BookStore.Models.OrderState>()">
                    <option selected="selected" value="">Select ...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Sum min</label>
                <input id="min-sum-input" type="number" class="form-control" placeholder="Enter min sum" value="@ViewBag.MinSum">
            </div>
            <div class="form-group col-md-2">
                <label>Sum max</label>
                <input id="max-sum-input" type="number" class="form-control" placeholder="Enter max sum" value="@ViewBag.MaxSum">
            </div>
            <div class="form-group col-md-1">
                <button type="button" id="search-btn" class="btn btn-primary w-100" style=" margin-top: 32px; height: 37px">Search</button>
            </div>
        </div>
    </form>
    <!--Table-->
    <div class="mb-2" style="overflow-x: scroll; width: 100%">
        <table class="table table-bordered table-hover bg-white mb-0" style="width: 1500px">
            <!--Table head-->
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">
                        Book
                        @if (ViewBag.CurrentSort == "Book.Name")
                        {
                            <a class="text-muted" asp-controller="Orders" asp-action="Get"><i class="bi bi-funnel-fill"></i></a>
                        }
                        else
                        {
                            <a class="text-muted" asp-controller="Orders" asp-action="Get" asp-route-sortOrder="Book.Name"><i class="bi bi-funnel"></i></a>
                        }
                    </th>
                    <th scope="col">
                        Employee
                        @if (ViewBag.CurrentSort == "Employee.Name")
                        {
                            <a class="text-muted" asp-controller="Orders" asp-action="Get"><i class="bi bi-funnel-fill"></i></a>
                        }
                        else
                        {
                            <a class="text-muted" asp-controller="Orders" asp-action="Get" asp-route-sortOrder="Employee.Name"><i class="bi bi-funnel"></i></a>
                        }
                    </th>
                    <th scope="col">
                        Customer
                        @if (ViewBag.CurrentSort == "Customer.Name")
                        {
                            <a class="text-muted" asp-controller="Orders" asp-action="Get"><i class="bi bi-funnel-fill"></i></a>
                        }
                        else
                        {
                            <a class="text-muted" asp-controller="Orders" asp-action="Get" asp-route-sortOrder="Customer.Name"><i class="bi bi-funnel"></i></a>
                        }
                    </th>
                    <th scope="col">Book Count</th>
                    <th scope="col">Sum</th>
                    <th scope="col">
                        Order Date
                        @if (ViewBag.CurrentSort == "OrderDate")
                        {
                            <a class="text-muted" asp-controller="Orders" asp-action="Get"><i class="bi bi-funnel-fill"></i></a>
                        }
                        else
                        {
                            <a class="text-muted" asp-controller="Orders" asp-action="Get" asp-route-sortOrder="OrderDate"><i class="bi bi-funnel"></i></a>
                        }
                    </th>
                    <th scope="col">
                        Delivery Date
                        @if (ViewBag.CurrentSort == "DeliveryDate")
                        {
                            <a class="text-muted" asp-controller="Orders" asp-action="Get"><i class="bi bi-funnel-fill"></i></a>
                        }
                        else
                        {
                            <a class="text-muted" asp-controller="Orders" asp-action="Get" asp-route-sortOrder="DeliveryDate"><i class="bi bi-funnel"></i></a>
                        }
                    </th>
                    <th scope="col">Payment Type</th>
                    <th scope="col">State</th>
                </tr>
            </thead>
            <!--Table body-->
            <tbody id="myTable">
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td><a asp-controller="Books" asp-action="Details" asp-route-id="@order.Book.Id">@order.Book.Name</a></td>
                        <td><a asp-controller="Employees" asp-action="Details" asp-route-id="@order.Employee.Id">@order.Employee.FullName</a></td>
                        <td><a asp-controller="Customers" asp-action="Details" asp-route-id="@order.Customer.Id">@order.Customer.FullName</a></td>
                        <td>@order.BookCount</td>
                        <td>@order.Sum$</td>
                        <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                        <td>@order.DeliveryDate.ToString("dd/MM/yyyy")</td>
                        <td>@order.PaymentType</td>
                        <td>@order.State</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--Pagination-->
    <div class="row mb-5">
        <!--Page size-->
        <div class="col-sm d-flex justify-content-start">
            <select class="custom-select custom-select-sm mb-0" style="width: 60px">
                <option selected>10</option>
                <option value="1">15</option>
            </select>
        </div>
        <!--Page index and count-->
        <div class="col-sm">
            <p class="text-muted text-nowrap mb-0 mr-4">Page @Model.PageIndex of @Model.TotalPages</p>
        </div>
        <!--Pages numbers-->
        <div id="pages-list" class="col-sm d-flex justify-content-end">
            <div class="btn-group">
                @if (Model.HasPreviousPage)
                {
                    var prev = Model.PageIndex - 1;
                    <button class="btn btn-sm btn-primary" value="@prev"><i class="bi bi-arrow-left-short"></i></button>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    var btnClass = "";
                    @if (Model.PageIndex == i)
                    {
                        btnClass = "active";
                    }
                    <button class="btn btn-sm btn-primary @btnClass" value="@i">@i</button>
                }
                @if (Model.HasNextPage)
                {
                    var next = Model.PageIndex + 1;
                    <button class="btn btn-sm btn-primary" value="@next"><i class="bi bi-arrow-right-short"></i></button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function getQuery() {
            var keyWord = $("#search-input").val() ?? "";
            var minSum = $("#min-sum-input").val() ?? "";
            var maxSum = $("#max-sum-input").val() ?? "";
            var state = $("#state-input").val() ?? "";
            var paymentType = $("#payment-type-input").val() ?? "";
            return "keyWord=" + encodeURIComponent(keyWord)
                + "&minSum=" + minSum
                + "&maxSum=" + maxSum
                + "&paymentType=" + paymentType
                + "&state=" + state
                + "&sortOrder=" + "@ViewBag.CurrentSort";
        }

        $("#search-btn").click(() => {
            window.location.href = "/Orders/?" + getQuery();
        })

        $("#pages-list").on("click", "button", function () {
            var index = $(this).val();
            window.location.href = '/Orders/?pageNumber=' + index + '&' + getQuery();
        });

        $("tbody").on("click", "tr", function () {
            var id = $('td:first', this).text();
            window.location.href = '/Orders/' + id;
        });
    </script>
}