@model BookStore.Services.DTOs.PaginatedListDTO<BookStore.Models.Author>
@{
    ViewData["Title"] = "Authors";
}

<div class="text-center">
    <!--Head-->
    <h1 class="display-4 mb-4">
        Authors
        <!--Create-->
        <a asp-controller="Authors" asp-action="Create"><i class="bi bi-person-plus"></i></a>
    </h1>
    <!--Search-->
    <form class="text-left">
        <div class="form-row">
            <div class="form-group col-md-11">
                <label>Search</label>
                <input id="search-input" class="form-control" placeholder="Search by key word" value="@ViewBag.KeyWord">
            </div>
            <div class="form-group col-md-1">
                <a id="search-btn" class="btn btn-primary text-white w-100" style=" margin-top: 32px; height: 37px">Search</a>
            </div>
        </div>
    </form>
    <!--Table-->
    <div class="mb-2">
        <table class="table table-bordered table-hover bg-white mb-0">
            <!--Table head-->
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">
                        Name
                        @if (ViewBag.CurrentSort == "FullName")
                        {
                            <a class="text-muted" asp-controller="Authors" asp-action="Get"><i class="bi bi-funnel-fill"></i></a>
                        }
                        else
                        {
                            <a class="text-muted" asp-controller="Authors" asp-action="Get" asp-route-sortOrder="FullName"><i class="bi bi-funnel"></i></a>
                        }
                    </th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Death</th>
                </tr>
            </thead>
            <!--Table body-->
            <tbody id="myTable">
                @foreach (var employee in Model)
                {
                    var death = employee.Death?.ToString("dd.MM.yyyy") ?? "today";
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.FullName</td>
                        <td>@employee.Birthday.ToString("dd.MM.yyyy")</td>
                        <td>@death</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--Pagination-->
    <div class="row mb-5">
        <!--Page size-->
        <div class="col-sm d-flex justify-content-start">
            <select class="custom-select custom-select-sm mb-0" style="width: 60px">
                <option selected>10</option>
                <option value="1">15</option>
            </select>
        </div>
        <!--Page index and count-->
        <div class="col-sm">
            <p class="text-muted text-nowrap mb-0 mr-4">Page @Model.PageIndex of @Model.TotalPages</p>
        </div>
        <!--Pages numbers-->
        <div id="pages-list" class="col-sm d-flex justify-content-end">
            <div class="btn-group">
                @if (Model.HasPreviousPage)
                {
                    var prev = Model.PageIndex - 1;
                    <button class="btn btn-sm btn-primary" value="@prev"><i class="bi bi-arrow-left-short"></i></button>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    var btnClass = "";
                    @if (Model.PageIndex == i)
                    {
                        btnClass = "active";
                    }
                    <button class="btn btn-sm btn-primary @btnClass" value="@i">@i</button>
                }
                @if (Model.HasNextPage)
                {
                    var next = Model.PageIndex + 1;
                    <button class="btn btn-sm btn-primary" value="@next"><i class="bi bi-arrow-right-short"></i></button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function getQuery() {
            var keyWord = $("#search-input").val() ?? "";
            return "keyWord=" + encodeURIComponent(keyWord) + "&sortOrder=" + "@ViewBag.CurrentSort"
        }

        $("#search-btn").click(() => {
            window.location.href = "/Authors/?" + getQuery();
        })

        $("#pages-list").on("click", "button", function () {
            var index = $(this).val();
            window.location.href = '/Authors/?pageNumber=' + index + '&' + getQuery();
        });

        $("tbody").on("click", "tr", function () {
            var id = $('td:first', this).text();
            window.location.href = '/Authors/' + id;
        });
    </script>
}